<!DOCTYPE html>
<html>
<head>
    <title>HRMTS HTTP POST</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #FFF; margin: 0px; font-family: Verdana; font-size: 12px;">
    <div>
        @RenderBody()
    </div>
</body>
</html>
